.container .details{
    display: flex;
}

.header{
    display: flex;
    align-self: center;
    margin: 5%;
    margin-left: 0px;
    
}

.details_para {
  width: 50%;
  color: white;
}

.details_accordian{
    width: 50%;
}