.cards_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headers{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cards_details{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.cards_details_header{
    align-self: center;
    margin: 5%;
    color: var(--primary-color);
}

.cards_details_header > h3 {
    font-size: 32px;
}

.headers_line{
    border-left: 1px solid white;
    height: 184px;
    margin: 0 5%;
}